
@{
    ViewBag.Title = "Index";
}

<h2>Home Page</h2>



@if (Session["username"] == null)
{
    <p>@Html.ActionLink("Login Please", "Index", "Auth")</p>
}
else
{
    <h2>Welcome, @Session["username"]</h2>
    <br />
    <br />
    <h2>Your Password is, @Session["password"]</h2>
}